In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
csv_holidays = pd.read_csv("datasets/1.-Transportation/accidents-holidays.csv")
csv_holidays

,Unnamed: 0,District Name,Weekday,Month,Day,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved
0,0,Ciutat Vella,Friday,June,23,Night,1,0,1,1
1,1,Eixample,Friday,June,23,Morning,1,0,1,2
2,2,Eixample,Friday,June,23,Morning,1,0,1,2
3,3,Eixample,Friday,June,23,Afternoon,1,0,1,2
4,4,Sants-Montjuïc,Friday,June,23,Afternoon,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...
683,683,Eixample,Tuesday,February,14,Morning,1,0,1,2
684,684,Les Corts,Tuesday,February,14,Morning,1,0,1,2
685,685,Sarrià-Sant Gervasi,Tuesday,February,14,Afternoon,1,0,1,2
686,686,Horta-Guinardó,Tuesday,February,14,Afternoon,0,0,0,1
687,687,Horta-Guinardó,Tuesday,February,14,Morning,2,0,2,2

In [3]:
csv_holidays.drop(["Unnamed: 0"], axis=1, inplace=True)
csv_holidays

,District Name,Weekday,Month,Day,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved
0,Ciutat Vella,Friday,June,23,Night,1,0,1,1
1,Eixample,Friday,June,23,Morning,1,0,1,2
2,Eixample,Friday,June,23,Morning,1,0,1,2
3,Eixample,Friday,June,23,Afternoon,1,0,1,2
4,Sants-Montjuïc,Friday,June,23,Afternoon,2,0,2,1
...,...,...,...,...,...,...,...,...,...
683,Eixample,Tuesday,February,14,Morning,1,0,1,2
684,Les Corts,Tuesday,February,14,Morning,1,0,1,2
685,Sarrià-Sant Gervasi,Tuesday,February,14,Afternoon,1,0,1,2
686,Horta-Guinardó,Tuesday,February,14,Afternoon,0,0,0,1
687,Horta-Guinardó,Tuesday,February,14,Morning,2,0,2,2

In [4]:
csv_without_holidays = pd.read_csv("datasets/1.-Transportation/accidents-without-holidays.csv")
csv_without_holidays

,Unnamed: 0,District Name,Weekday,Month,Day,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved
0,0,Unknown,Friday,October,13,Morning,2,0,2,2
1,1,Unknown,Friday,September,1,Morning,2,0,2,2
2,3,Unknown,Friday,July,21,Night,1,0,1,2
3,4,Sant Martí,Thursday,May,25,Afternoon,1,0,1,3
4,5,Sant Martí,Wednesday,September,20,Morning,1,0,1,2
...,...,...,...,...,...,...,...,...,...,...
9646,10334,Sant Andreu,Tuesday,April,25,Morning,1,0,1,3
9647,10335,Sant Andreu,Wednesday,March,8,Morning,1,0,1,2
9648,10336,Sant Andreu,Thursday,December,28,Morning,1,0,1,2
9649,10337,Sant Andreu,Friday,July,14,Afternoon,1,0,1,2
9650,10338,Sant Andreu,Sunday,January,8,Afternoon,0,0,0,1

In [5]:
csv_without_holidays.drop(["Unnamed: 0"], axis=1, inplace=True)
csv_without_holidays

,District Name,Weekday,Month,Day,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved
0,Unknown,Friday,October,13,Morning,2,0,2,2
1,Unknown,Friday,September,1,Morning,2,0,2,2
2,Unknown,Friday,July,21,Night,1,0,1,2
3,Sant Martí,Thursday,May,25,Afternoon,1,0,1,3
4,Sant Martí,Wednesday,September,20,Morning,1,0,1,2
...,...,...,...,...,...,...,...,...,...
9646,Sant Andreu,Tuesday,April,25,Morning,1,0,1,3
9647,Sant Andreu,Wednesday,March,8,Morning,1,0,1,2
9648,Sant Andreu,Thursday,December,28,Morning,1,0,1,2
9649,Sant Andreu,Friday,July,14,Afternoon,1,0,1,2
9650,Sant Andreu,Sunday,January,8,Afternoon,0,0,0,1

In [6]:
original_file = pd.read_csv("datasets/1.-Transportation/accidents-2017.csv")
original_file

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360885
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10334,2017S003667,Sant Andreu,el Bon Pastor,Litoral (Llobregat) ...,Tuesday,April,25,8,Morning,1,0,1,3,2.201800,41.392004
10335,2017S001896,Sant Andreu,el Bon Pastor,PL MONTERREY ...,Wednesday,March,8,12,Morning,1,0,1,2,2.206013,41.443445
10336,2017S010718,Sant Andreu,el Bon Pastor,Litoral (Llobregat) ...,Thursday,December,28,8,Morning,1,0,1,2,2.205607,41.443894
10337,2017S006145,Sant Andreu,el Bon Pastor,Litoral (Besòs) ...,Friday,July,14,14,Afternoon,1,0,1,2,2.205118,41.444824
10338,2017S000178,Sant Andreu,el Bon Pastor,CIUTAT D'ASUNCIÓN ...,Sunday,January,8,20,Afternoon,0,0,0,1,2.200956,41.437125