In [2]:
import pandas as pd
import numpy as np
import os
import ratio_function as f

In [18]:
csv_holidays = f.holidays
csv_holidays

,District Name,Weekday,Month,Day,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Date
0,Ciutat Vella,Friday,June,23,Night,1,0,1,1,June 23
1,Eixample,Friday,June,23,Morning,1,0,1,2,June 23
2,Eixample,Friday,June,23,Morning,1,0,1,2,June 23
3,Eixample,Friday,June,23,Afternoon,1,0,1,2,June 23
4,Sants-Montjuïc,Friday,June,23,Afternoon,2,0,2,1,June 23
...,...,...,...,...,...,...,...,...,...,...
683,Eixample,Tuesday,February,14,Morning,1,0,1,2,February 14
684,Les Corts,Tuesday,February,14,Morning,1,0,1,2,February 14
685,Sarrià-Sant Gervasi,Tuesday,February,14,Afternoon,1,0,1,2,February 14
686,Horta-Guinardó,Tuesday,February,14,Afternoon,0,0,0,1,February 14
687,Horta-Guinardó,Tuesday,February,14,Morning,2,0,2,2,February 14

In [20]:
csv_non_holidays = f.non_holidays
csv_non_holidays

,District Name,Weekday,Month,Day,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Date
0,Unknown,Friday,October,13,Morning,2,0,2,2,October 13
1,Unknown,Friday,September,1,Morning,2,0,2,2,September 1
2,Unknown,Friday,July,21,Night,1,0,1,2,July 21
3,Sant Martí,Thursday,May,25,Afternoon,1,0,1,3,May 25
4,Sant Martí,Wednesday,September,20,Morning,1,0,1,2,September 20
...,...,...,...,...,...,...,...,...,...,...
9646,Sant Andreu,Tuesday,April,25,Morning,1,0,1,3,April 25
9647,Sant Andreu,Wednesday,March,8,Morning,1,0,1,2,March 8
9648,Sant Andreu,Thursday,December,28,Morning,1,0,1,2,December 28
9649,Sant Andreu,Friday,July,14,Afternoon,1,0,1,2,July 14
9650,Sant Andreu,Sunday,January,8,Afternoon,0,0,0,1,January 8

In [16]:
#Ratio of accidents per day on holidays
f.hol_ratio(csv_holidays.shape[0])

18.594594594594593

In [22]:
#Ratio of accidents per day on normal days
f.no_hol_ratio(csv_non_holidays.shape[0])

29.423780487804876

In [23]:
#Serious injuries per day ratio on holidays
f.hol_ratio(csv_holidays["Serious injuries"].sum())

0.5405405405405406

In [24]:
#Serious injuries per day ratio on normal days
f.no_hol_ratio(csv_non_holidays["Serious injuries"].sum())

0.6737804878048781

In [25]:
#Mild injuries per day ratio on holidays
f.hol_ratio(csv_holidays["Mild injuries"].sum())

21.216216216216218

In [26]:
#Mild injuries per day ratio on normal days
f.no_hol_ratio(csv_non_holidays["Mild injuries"].sum())

33.98780487804878

In [59]:
#Victims per day ratio on holidays
f.hol_ratio(csv_holidays["Serious injuries"].sum()) + f.hol_ratio(csv_holidays["Mild injuries"].sum())

21.756756756756758

In [60]:
#Victims per day ratio on normal days
f.no_hol_ratio(csv_non_holidays["Serious injuries"].sum()) + f.no_hol_ratio(csv_non_holidays["Mild injuries"].sum())

34.661585365853654

In [44]:
#Morning accidents. 1st row: Holidays | 2nd row: Normal days | 3rd row: Difference between holidays - normal days
mor_hol = f.hol_ratio(len(csv_holidays[csv_holidays["Part of the day"] == "Morning"]))
print(mor_hol)
mor_no_hol = f.no_hol_ratio(len(csv_non_holidays[csv_non_holidays["Part of the day"] == "Morning"]))
print(mor_no_hol)
diff = mor_hol - mor_no_hol
diff

6.216216216216216
11.698170731707316

-5.4819545154911005

In [45]:
#Afternoon accidents. 1st row: Holidays | 2nd row: Normal days | 3rd row: Difference between holidays - normal days
aft_hol = f.hol_ratio(len(csv_holidays[csv_holidays["Part of the day"] == "Afternoon"]))
print(aft_hol)
aft_no_hol = f.no_hol_ratio(len(csv_non_holidays[csv_non_holidays["Part of the day"] == "Afternoon"]))
print(aft_no_hol)
diff = aft_hol - aft_no_hol
diff

9.054054054054054
14.472560975609756

-5.418506921555702

In [46]:
#Night accidents. 1st row: Holidays | 2nd row: Normal days | 3rd row: Difference between holidays - normal days
nig_hol = f.hol_ratio(len(csv_holidays[csv_holidays["Part of the day"] == "Night"]))
print(nig_hol)
nig_no_hol = f.no_hol_ratio(len(csv_non_holidays[csv_non_holidays["Part of the day"] == "Night"]))
print(nig_no_hol)
diff = nig_hol - nig_no_hol
diff

3.324324324324324
3.2530487804878048

0.07127554383651935

In [56]:
#SEPARATE 
#Ratio of Accidents per District (Holiday - Normal Day)
(f.hol_ratio(csv_holidays["District Name"].value_counts()) - f.no_hol_ratio(csv_non_holidays["District Name"].value_counts())).sort_values(ascending=True)

Eixample              -3.189519
Sants-Montjuïc        -1.591381
Sarrià-Sant Gervasi   -1.591381
Sant Martí            -1.185893
Horta-Guinardó        -0.791529
Les Corts             -0.739700
Gràcia                -0.686552
Sant Andreu           -0.436635
Ciutat Vella          -0.385630
Nou Barris            -0.268952
Unknown                0.037986
Name: District Name, dtype: float64

In [96]:
#Accidents per day on holidays (Just weekdays)
csv_holidays[(csv_holidays['Weekday'] == "Monday")|(csv_holidays['Weekday'] == "Tuesday")|(csv_holidays['Weekday'] == "Wednesday")|(csv_holidays['Weekday'] == "Thursday")]["Weekday"].value_counts()

Tuesday      77
Monday       77
Thursday     31
Wednesday    23
Name: Weekday, dtype: int64

In [97]:
#Ratio of accidents per day on holidays (Just weekdays)
f.hol_ratio(csv_holidays[(csv_holidays['Weekday'] == "Monday")|(csv_holidays['Weekday'] == "Tuesday")|(csv_holidays['Weekday'] == "Wednesday")|(csv_holidays['Weekday'] == "Thursday")]["Weekday"].value_counts())

Tuesday      2.081081
Monday       2.081081
Thursday     0.837838
Wednesday    0.621622
Name: Weekday, dtype: float64

In [94]:
#Accidents per day on holiday (Just weekend)
csv_holidays[(csv_holidays['Weekday'] == "Friday")|(csv_holidays['Weekday'] == "Saturday")|(csv_holidays['Weekday'] == "Sunday")]["Weekday"].value_counts()

Friday      202
Sunday      149
Saturday    129
Name: Weekday, dtype: int64

In [98]:
#Ratio of accidents per day on holidays (Just weekend)
f.hol_ratio(csv_holidays[(csv_holidays['Weekday'] == "Friday")|(csv_holidays['Weekday'] == "Saturday")|(csv_holidays['Weekday'] == "Sunday")]["Weekday"].value_counts())

Friday      5.459459
Sunday      4.027027
Saturday    3.486486
Name: Weekday, dtype: float64

In [92]:
#Accidents per day on normal day (Just weekdays)
csv_non_holidays[(csv_non_holidays['Weekday'] == "Monday")|(csv_non_holidays['Weekday'] == "Tuesday")|(csv_non_holidays['Weekday'] == "Wednesday")|(csv_non_holidays['Weekday'] == "Thursday")]["Weekday"].value_counts()

Thursday     1646
Wednesday    1627
Tuesday      1614
Monday       1433
Name: Weekday, dtype: int64

In [99]:
#Ratio of accidents per day on normal days (Just weekdays)
f.no_hol_ratio(csv_non_holidays[(csv_non_holidays['Weekday'] == "Monday")|(csv_non_holidays['Weekday'] == "Tuesday")|(csv_non_holidays['Weekday'] == "Wednesday")|(csv_non_holidays['Weekday'] == "Thursday")]["Weekday"].value_counts())

Thursday     5.018293
Wednesday    4.960366
Tuesday      4.920732
Monday       4.368902
Name: Weekday, dtype: float64

In [95]:
#Accidents per day on normal day (Just weekend)
csv_non_holidays[(csv_non_holidays['Weekday'] == "Friday")|(csv_non_holidays['Weekday'] == "Saturday")|(csv_non_holidays['Weekday'] == "Sunday")]["Weekday"].value_counts()

Friday      1559
Saturday    1026
Sunday       746
Name: Weekday, dtype: int64

In [ ]:
#Ratio of accidents per day on normal days (Just weekend)

In [100]:
f.no_hol_ratio(csv_non_holidays[(csv_non_holidays['Weekday'] == "Friday")|(csv_non_holidays['Weekday'] == "Saturday")|(csv_non_holidays['Weekday'] == "Sunday")]["Weekday"].value_counts())

Friday      4.753049
Saturday    3.128049
Sunday      2.274390
Name: Weekday, dtype: float64

In [5]:
csv_holidays.describe()

,Day,Mild injuries,Serious injuries,Victims,Vehicles involved
count,688.000000,688.000000,688.000000,688.000000,688.000000
mean,15.052326,1.140988,0.029070,1.170058,1.965116
std,9.383013,0.828288,0.227058,0.850638,0.890809
min,1.000000,0.000000,0.000000,0.000000,1.000000
25%,7.000000,1.000000,0.000000,1.000000,2.000000
50%,14.000000,1.000000,0.000000,1.000000,2.000000
75%,24.000000,1.000000,0.000000,1.000000,2.000000
max,31.000000,5.000000,4.000000,7.000000,13.000000